<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Mars Weather</h1>
        <a href="http://127.0.0.1:5000/scrape">
            <button type="button" class="btn btn-primary btn-lg">Scrape</button>
        </a>
    </div>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-12"> 
                <h3>Mars Tweet</h3>
                <p>{{mars.mars_tweet}}</p>
                <h3>Latest Mars News</h3>
                <h5>{{mars.headline}}</h5>
                <p>{{mars.article}}</p>
                <h3>Mars Table</h3>
                {{mars.mars_table|safe}}
                <h3>Featured Mars Image</h3>
                <img src="{{mars.image_url}}" alt="banner" width = 500px>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-12">
                <h3>Hemisphere Images</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{mars.hemisphere_urls[0].img_url}}" alt="trial" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{mars.hemisphere_urls[0].title}}</h5>
                    </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{mars.hemisphere_urls[1].img_url}}" alt="trial" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{mars.hemisphere_urls[1].title}}</h5>
                    </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{mars.hemisphere_urls[2].img_url}}" alt="trial" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{mars.hemisphere_urls[2].title}}</h5>
                    </div>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{mars.hemisphere_urls[3].img_url}}" alt="trial" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{mars.hemisphere_urls[3].title}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

</body>
</html>